
.App {
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

/**************************/
/*        MyFlags         */
/**************************/
.MyFlags{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body{

  background-image: url('./Img/imageTerre.png');

}