/**************************/
/*         Flag           */
/**************************/
.flag {
    display: grid;
    grid-template: repeat(6,1fr) / repeat(6,1fr);
    width:300px;
    height:210px;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.5);
  }
  
  /**************************/
  /*        Bande           */
  /**************************/
  .bande {
    
    border: solid 1px rgba(255, 255, 255, 0.5);
    
  }

  /* disposition verticale des bandes */
  .vertical .bande1{
    grid-area: 1 / 1 / 8 / 3;
  }
  
  .vertical .bande2{
    grid-area: 1 / 3 / 8 / 5;
  }
  
  .vertical .bande3{
    grid-area: 1 / 5 / 8 / 8;
  }

  /* disposition horrizonale des bandes*2 */
  .horizontal2 .bande1{
    grid-area: 1 / 1 / 4 / 8;
  }
  
  .horizontal2 .bande2{
    grid-area: 4 / 1 / 8 / 8;
  }

  /* disposition horrizonale des bandes*3 */
  .horizontal .bande1{
    grid-area: 1 / 1 / 3 / 8;
  }
  
  .horizontal .bande2{
    grid-area: 3 / 1 / 5 / 8;
  }
  
  .horizontal .bande3{
    grid-area: 5 / 1 / 8 / 8;
  }
  
  /* disposition triangle des bandes*/
  .triangle .bande1{
    grid-area: 1 / 1 / 8 / 4;
    clip-path: polygon(0 0, 0 100% , 100% 50% );
  }
  
  .triangle .bande2{
    grid-area: 1 / 1 / 4 / 8;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  }
  
  .triangle .bande3{
    grid-area: 4 / 1 / 8 / 8;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%)
  }
  
  .bande:hover{
    transform: scale(1.05);
    box-shadow:2px 2px 2px rgba(255, 255, 255, 0.5);
  }
  
  
  /**************************/
  /*        Couleur         */
  /**************************/
  .blue{
    background-color: blue;
  }
  
  .red{
    background-color: red;
  }
  
  .white{
    background-color: white;
  }
  
  .black{
    background-color: black;
  }
  
  .yellow{
    background-color: yellow;
  }
  
  .green{
    background-color: green;
  }

  /**************************/
  /*        Couleur  police */
  /**************************/

.board{

color: white;

  }