.ScoreBoard{
    margin-top: 10px;
    padding : 20px;
    border-radius: 5px;
    color: white;
    border : solid 2px white;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.ScoreBoard div{
    margin-left: 5px;
    margin-right: 5px;
}

